@import "tailwindcss";

@theme {
  /* Registramos las fuentes para que Tailwind v4 las reconozca */
  --font-body: var(--font-montserrat);
  --font-title: var(--font-montserrat-alternates);
  --font-hand: var(--font-mynerve);

  /* Registramos tu color corporativo */
  --color-brand-red: #E63946;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* app/globals.css */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }

  /* Se mueve la mitad del ancho total */
}

.animate-infinite-scroll {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
  /* Ajusta los segundos para más o menos velocidad */
}

/* Pausar al pasar el ratón para mejor UX */
.animate-infinite-scroll:hover {
  animation-play-state: paused;
}